* {
  padding: 0;
  box-sizing: border-box;
}
*,
body {
  margin: 0;
}
body {
  padding-top: 50px;
  width: 662px;
  margin: 0px auto;
  height: 100%;
  background: #908f8c;
  display: flex;
  justify-content: center;
  font-size: larger;
}

.card__img {
  width: 102px;
  height: 64px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
  border-radius: 10px;
}

.card__img:last-child {
  margin-right: 0px;
}

.form-control {
  display: flex;
  margin-top: 25px;

  align-items: center;
  justify-content: space-around;
}

input {
  width: 500px;
  height: 40px;
  border: none;
  font-size: larger;
  border-radius: 10px;
  border-color: #ffffff;
  padding: 0px 10px;
}

button {
  font-size: larger;
  height: 40px;
  border-radius: 10px;
}
.submit-button {
  width: 150px;
  border: none;
  background-color: #18d43de1;
  color: #ffffff;
}
